<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203340254867-ahfjl4j9ue3feuni015ifq909itecpb2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203340254867-ahfjl4j9ue3feuni015ifq909itecpb2</string>
	<key>API_KEY</key>
	<string>AIzaSyCxdbgTBj3A7AHb7lvEIXH91bxYHXUty-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>203340254867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bicycleRentalSystem</string>
	<key>PROJECT_ID</key>
	<string>bicycle-rental-system-c4471</string>
	<key>STORAGE_BUCKET</key>
	<string>bicycle-rental-system-c4471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203340254867:ios:cd251e12b16d15f79cc766</string>
</dict>
</plist>